/******************************************************************
Text Selection Styles
******************************************************************/

/* Safari, Chrome, iPhones, iPads */
::selection {
  background:#4096ee;
  color:#fff;
}

::-moz-selection {
  background:#4096ee;
  color:#fff;
}

/******************************************************************
Basic text elements
******************************************************************/
p, h1, h2, h3, h4, h5, h6, th, td {
    font-family: 'PT Sans', Verdana, Arial, sans-serif;
    line-height: 1.6em;
    text-decoration: none;
}

p, h1, h2, h3, h4 {
      color: #616161;
}

h1 {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

h5 {
  color: #ababab;
  font-size: 10px;
}
h6 {
  color: #ababab;
  font-size: 8px;
}

/*************************************/


/******************************************************************
Main page elements
******************************************************************/

/* Body elements 
********************************************/
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(34,53,95);
  font-family: Arial, sans-serif;
}

.body-content {
    margin: 0px 0px 0px 0px;
}

.container { 
    padding: 0px 0px 0px 0px;
}

#map-canvas {
    display: none;
}

body .modal {
  width: 800px;
  margin-left: -400px;
}

.modal {
  left: 50%;
}

.modal-header h3 {
  font-weight: bold;
  font-size: 20px;

}


/* Generic UI elements 
********************************************/
.medicosts-panel {
    background-color: rgb(34,53,95);
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,1.2);
    
    z-index: 1000;
    position: absolute;

    font-size: 13px;
    font-family: Verdana;
    color: #fff;    
    word-wrap:break-word;

    display: none;
}

/* Header elements 
********************************************/
#header {
    position: absolute; 
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 13%;
    width: 100%; 
    height: 80px; 
    background-color: rgb(34,53,95);
    z-index: 900;
    vertical-align: middle;
}

#pageHeaderText {
    font-family: Arial;
    font-weight: bolder;
    color: #fff;
    font-size: 1.75em;
    margin-left: auto;
    margin-right: auto;
}

#centerSearchText {
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
    font-size: 1.5em;
    color: #fff;
    bottom: 30px;
}

#headerImage {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    display: block;
}


/* Search */
#search_components {
    text-align: center;
    background-color: rgb(34,53,95);
    color: #FFF;
    height: 37px;
    margin-top: 12px;
}

#search_input_table {
    height: 37px;
    margin: 0 auto;
    margin-top: 12px;
    width: 400px;
}

#searchbtn {
    height: 33px;
    width: 85px;
    padding: 5px;
    margin-top: 14px;
    border-color:#eee; border-style:solid;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
    border-width:1px;
    font-family: Verdana;
    font-weight: 300;
    font-size: .7em;
    color: #222;
    background-color: #fff;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.searchFormField{
    height: 33px;
    padding:6px; 
    border-color:#eee; border-style:solid;
    text-shadow:0px 0px 0px rgba(42,42,42,.0);
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
    border-width:1px;
    border-radius:0px;
    background-color: #fff;
    color: #222;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: bottom;
    font-size: 0.9em;
}

#loadingIcon {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 3px;
}

#search_buttonloader_wrapper {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#searchbtn:hover {
    cursor: pointer;
    background-color: #ccf;
}

#searchbtn:active {
}

input.form-control {
  height: 37px;
}

input.searchinput {
  width: 300px;
  height: 37px;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ababab;
  font-size: 20px;
  line-height: 25px;
  color: #ababab;
}

input.searchinput:hover, input.searchinput:focus {
  color: #3b3b3b;
  border: 1px solid #36a2d2;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

.input-group {
    margin-left: auto;
    margin-right: auto;
#errorText {
    font-family: Verdana;
    font-size: .8em;
    margin-top: 12px;
}

.badInput {
    border: solid 1px #d30000;
}


/* Left panel elements 
********************************************/
#left-panel {
    bottom: 6px !important;
    left: 6px !important;
    right: 0 !important;
    top: auto !important;

    width: 650px;
    height: 350px;
    margin-right: auto;
    padding: 14px;

    max-height: 40%;
    max-width: 49%;
    min-height: 20%;
    min-width: 25%;
}

#cost-table{
    height: 100%;
    padding-bottom: 60px;
}

#left-panel td {
    padding: 4px;
}

#left-panel tr{
    cursor: pointer;
}

/* Office table 
********************************************/
#offices-panel {
    bottom: 6px !important;
    left: 0 !important;
    right: 6px !important;
    top: auto !important;
    width: 500px;
    height: 350px;
    margin-left: auto;
    padding: 14px;

    max-height: 40%;
    max-width: 49%;
    min-height: 20%;
    min-width: 25%;
}

#offices-panel table-head td {
    width: 22%;
}

#offices-panel td {
    margin-left: 12px;
    margin-right: 12px;
    padding: 4px;
    cursor: pointer;
}

#office-table {
    height: 100%;
    padding-bottom: 60px;
}

#table_content {
}


/* Right Panel
********************************************/
#right-panel{
    top: 90px !important;
    right: 6px !important;
    left: auto !important;
    width: 240px;
    height: 190px;
    padding: 14px;
    z-index: 1000;

    max-height: 40%;
    max-width: 20%;
    min-height: 10%;
    min-width: 10%;
}

#providerList {
    height: 100%;
    
}

#providersListTable {
    height: 100%;
    padding-bottom: 83px;
}

#right-panel td{
    cursor: pointer;
}

.right-panel-title{
    font-weight: 300;
    color: #fff;
}

/* Panel sub-elements 
********************************************/
.panel-link:hover{
    color: #7db8f3
}


/* scrollTable
********************************************/
.scrollTable .table-head{
    width: 100%;
    border-bottom: 1px white solid;
    padding-bottom: 1px;
}

.table-head td{
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

table.scrollTable {
    display: table;
    width: 100%;
    padding-left: 30px;
}
table.scrollTable thead, table.scrollTable tbody {
    float: left;
    width: 100%;
}
table.scrollTable tbody {
    overflow: auto;
    height: 100%;
}
table.scrollTable tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.scrollTable th, table.scrollTable td {
    width: 60px;
    max-width: 60px;
}

/* sorting */
.sort-marker{
    height: 9px;
    width: 9px;
    display: inline-flex;
}

.tablesorter-headerAsc .sort-marker{ 
    background-image: url(/content/static/sorting/upsort.png); 
} 

.tablesorter-headerDesc .sort-marker{ 
    background-image: url(/content/static/sorting/downsort.png); 
} 

.tablesorter-headerUnSorted .sort-marker{
    background-image: url(/content/static/sorting/updownsort.png); 
}

/* Misc / mysterious
********************************************/
.gmnoprint img {
    max-width: none; 
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}



/* Scrollbars
********************************************/

/* Scrollbar */ 

::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-thumb{background-color:rgb(242, 242, 242); border-radius: 1px;}
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(252, 252, 252);
    cursor: pointer;
}

::-webkit-scrollbar-track{background-color:rgb(34,53,95);}


/* Typeahead
********************************************/

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    vertical-align: bottom !important;
}

.tt-hint {
    color: #aaa;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    background-color: white;
    margin-left: 3px;
    padding: 3px;
}

.tt-suggestion {
    color: #000;
    font-family: Verdana;
    margin-left: 2px;
    font-size: 12px;
    width: 169px;
    text-align: left;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
}

.tt-suggestion:hover {
    color: #fff;
    background: rgb(34,53,95);
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
    margin-left: 0;
}