/******************************************************************
CSS Reset
******************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  outline: none;
  text-decoration: none;
}

/******************************************************************
Print Styles - Used for paged media and in print preview mode
******************************************************************/

@media print {
*  {
      background: transparent !important;
      color: black !important;
      text-shadow: none !important;
      filter:none !important;
      -ms-filter: none !important;
    }

    a, a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

     .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
    }

    pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    tr, img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

     @page {
    margin: 0.5cm;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2, h3 {
      page-break-after: avoid;
    }
}

/******************************************************************
Text Selection Styles
******************************************************************/

/* Safari, Chrome, iPhones, iPads */
::selection {
  background:#4096ee;
  color:#fff;
}

::-moz-selection {
  background:#4096ee;
  color:#fff;
}

::-webkit-selection {
  background:#4096ee;
  color:#fff;
}

/******************************************************************
Basic text elements
******************************************************************/
p, h1, h2, h3, h4, h5, h6, th, td {
    font-family: 'PT Sans', Verdana, Arial, sans-serif;
    line-height: 1.6em;
    text-decoration: none;
}

p, h1, h2, h3, h4 {
      color: #616161;
}

h1 {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

h5 {
  color: #ababab;
  font-size: 10px;
}
h6 {
  color: #ababab;
  font-size: 8px;
}

/*************************************/


/******************************************************************
Main page elements
******************************************************************/

/* Body elements 
********************************************/
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(34,53,95);
}

#map-canvas {
    display: none;
}

body .modal {
  width: 800px;
  margin-left: -400px;
}

.modal {
  left: 50%;
}

.modal-header h3 {
  font-weight: bold;
  font-size: 20px;

}

/* Header elements 
********************************************/
#header {
    position: absolute; 
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 13%;
    width: 100%; 
    height: 80px; 
    background-color: rgb(34,53,95);
    z-index: 900;
    vertical-align: middle;
}

#pageHeaderText {
    font-family: Arial;
    font-weight: bolder;
    color: #fff;
    font-size: 1.75em;
    margin-left: auto;
    margin-right: auto;
}

#centerSearchText {
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
    font-size: 1.5em;
    color: #fff;
    bottom: 30px;
}

#headerImage {
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    display: block;
}

/* Search */
#search_components {
    text-align: center;
    background-color: rgb(34,53,95);
    color: #FFF;
    height: 37px;
    margin-top: 12px;
}

#search_input_table {
    height: 37px;
    margin: 0 auto;
    margin-top: 12px;
    width: 400px;
}

#searchbtn {
    height: 31px;
    width: 85px;
    padding: 5px;
    margin-top: 14px;
    border-color:#eee; border-style:solid;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
    border-width:1px;
    font-family: Verdana;
    font-weight: 300;
    font-size: .7em;
    color: #222;
    background-color: #fff;
    vertical-align: bottom;
}

.searchFormField{
    height: 23px;
    padding:3px; 
    border-color:#eee; border-style:solid;
    text-shadow:0px 0px 0px rgba(42,42,42,.0);
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
    border-width:1px;
    background-color: #fff;
    color: #222;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: bottom;

}

#loadingIcon {
  display: none;
}

#searchbtn:hover {
    cursor: pointer;
    background-color: #ccf;
}

#searchbtn:active {
}

input.form-control {
  height: 37px;
}

input.searchinput {
  width: 300px;
  height: 37px;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ababab;
  font-size: 20px;
  line-height: 25px;
  color: #ababab;
}

input.searchinput:hover, input.searchinput:focus {
  color: #3b3b3b;
  border: 1px solid #36a2d2;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}


/* Left panel elements 
********************************************/
#left-panel {
    background-color: rgb(34,53,95);
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,1.2);
    
    z-index: 1000;
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 0;
    width: 500px;
    margin-right: auto;
    padding: 14px;
    max-height: 40%;

    font-size: 13px;
    font-family: Verdana;
    color: #fff;    
    word-wrap:break-word;

    display: none;
}

#left-panel td {
    padding: 4px;
}

/* Office table 
********************************************/
#offices-panel {
    background-color: rgb(34,53,95);
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,1.2);
    
    z-index: 1000;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 6px;
    width: 500px;
    margin-left: auto;
    padding: 14px;
    max-height: 40%;

    font-size: 13px;
    font-family: Verdana;
    color: #fff;    
    word-wrap:break-word;

    display: none;
}

#offices-panel table-head td {
    width: 22%;
}

#offices-panel td {
    margin-left: 12px;
    margin-right: 12px;
    padding: 4px;
    cursor: pointer;
}

#office-table{
    max-height: 300px;
}


/* Right Panel
********************************************/
#right-panel{
    position:absolute;
    top: 90px;
    right: 6px;
    float: right;
    max-height: 80%;
    width: 240px;
    padding: 14px;
    z-index: 1000;

    font-size: 13px;
    font-family: Verdana;
    color: #fff;    
    word-wrap:break-word;
    
    background-color: rgb(34,53,95);
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,1.2);

    display: none;
}

#right-panel td{
    cursor: pointer;
}

.right-panel-title{
    font-weight: 300;
    color: #fff;
}

/* Panel sub-elements 
********************************************/
.panel-link:hover{
    color: #7db8f3
}


/* scrollTable
********************************************/
.scrollTable .table-head{
    width: 100%;
    border-bottom: 1px white solid;
    padding-bottom: 1px;
}

.table-head td{
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

table.scrollTable {
    display: table;
    width: 100%;
}
table.scrollTable thead, table.scrollTable tbody {
    float: left;
    width: 100%;
}
table.scrollTable tbody {
    overflow: auto;
    height: 150px;
}
table.scrollTable tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.scrollTable th, table.scrollTable td {
    width: 60px;
    max-width: 60px;
}

/* Sorting */
.sort-marker{
    height: 9px;
    width: 9px;
    display: inline-flex;
}

.tablesorter-headerAsc .sort-marker{ 
    background-image: url(/content/static/sorting/upsort.png); 
} 

.tablesorter-headerDesc .sort-marker{ 
    background-image: url(/content/static/sorting/downsort.png); 
} 

.tablesorter-headerUnSorted .sort-marker{
    background-image: url(/content/static/sorting/updownsort.png); 
}

/* Misc / mysterious
********************************************/
.gmnoprint img {
    max-width: none; 
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}



/* Scrollbars
********************************************/

/* Scrollbar */ 

::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-thumb{background-color:rgb(242, 242, 242); border-radius: 1;}
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(252, 252, 252);
    cursor: pointer;
}

::-webkit-scrollbar-track{background-color:rgbrgb(34,53,95);}


/* Typeahead
********************************************/

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    vertical-align: bottom !important;
}

.tt-hint {
    color: #aaa;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    background-color: white;
    margin-left: 2px;
    padding: 3px;
}

.tt-suggestion {
    color: #000;
    font-family: Verdana;
    margin-left: 2px;
    font-size: 14px;
    width: 169px;
    text-align: left;

}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
    margin-left: 0;
}